* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;

}

:root {
    --violet: #792359;
    --jaune: #F1A208;


}

body {
    height: 400vh;
}



nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--violet);
    padding: 10px;
    position: fixed;
    z-index: 1;
    height: 8vh;
}

#accueil {
    /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(photo/pink.jpg) center/cover; */
    background-color: #BB868C;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

}



.fond {
    display: block;
    margin-bottom: 9vh;
}

a {
    text-decoration: none;
}

#nomlogo {
    color: var(--jaune);
    padding-left: 5vh;
}

.nom {
    color: var(--violet);
}

.recherche {
    border: 1px var(--jaune) solid;
    color: white;
    width: 8vw;
    border-radius: 3px;
    height: 5vh;
    margin: 1vh 3vw;
    background-color: transparent;

}



.recherche:hover {
    color: black;
    background-color: var(--jaune);
    cursor: pointer;
}


.navigation a {
    color: rgba(235, 219, 219, 0.913);
    text-decoration: none;
    padding: 4vh;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;

}

.navigation a:hover {
    color: var(--jaune);

}

/* .reseau {
    display: flex;
    flex-direction: row;
    margin-right: 5vh;
    gap: 5vh;
}

.icon {
    width: 30px;
    height: 30px;
}

.icon:hover:hover {
    transform: scale(1.2);
    cursor: pointer;
} */

.bienvenue {
    color: white;
    font-size: 2.3rem;
    text-align: center;

}

#accueil p {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5vh;
    font-size: 1.1rem;
}

.incsription:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: var(--violet);
    background-color: white;
}

.suivi:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: white;
    border: 1px white solid;


}

.animation1 {
    animation: start 2s ease-in-out;

}

@keyframes start {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateZ(-50%);
    }

}




button {

    width: 15vh;
    height: 6vh;
    border-radius: 1vh;
    border: transparent;
    margin-left: 10px;

}

.bouton {
    text-align: center;
}



.incsription {
    color: white;
    background-color: var(--violet);
    font-weight: bold;
    transition: transform 1s;
}


.suivi {
    color: var(--violet);
    font-weight: bold;
    transition: transform 1.5s;
    background-color: transparent;
    border: 1px var(--violet)solid;

}
