@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;

}

:root {
    --violet: #792359;
    --jaune: #F1A208;

}

body {
    width: 100%;
    height: fit-content;

}



nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--violet);
    padding: 10px;
    position: fixed;
    z-index: 1;
    height: 8vh;
    top: 0;
}

#check {
    display: none;
}

label {
    display: none;
}


#accueil {

    background-color: #BB868C;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.imageFond {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageFond img {
    width: 90%;
    height: 100%;
}

.animation1 {
    animation: start 2s ease-in-out;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}



a {
    text-decoration: none;
}

#nomlogo {
    color: var(--jaune);
    padding-left: 5vh;
}

.nom {
    color: var(--violet);
    font-size: 3rem;
}

.recherche {
    border: 1px var(--jaune) solid;
    color: white;
    width: 8vw;
    border-radius: 3px;
    height: 5vh;
    margin: 1vh 3vw;
    background-color: transparent;

}



.recherche:hover {
    color: black;
    background-color: var(--jaune);
    cursor: pointer;
}


.navigation a {
    color: rgba(235, 219, 219, 0.913);
    text-decoration: none;
    padding: 4vh;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.9rem;

}

.navigation a:hover {
    color: var(--jaune);

}

.menu {
    display: none;
}


.bienvenue {
    color: white;
    font-size: 2.3rem;
    text-align: center;

}

.citation {
    margin-bottom: 2vh;
    color: white;
    text-align: center;


}

.incsription:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: var(--violet);
    background-color: white;
}

.suivi:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: white;
    border: 1px white solid;


}



@keyframes start {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateZ(-50%);
    }

}




button {

    width: 15vh;
    height: 6vh;
    border-radius: 1vh;
    border: transparent;
    margin-left: 10px;

}

.bouton {
    text-align: center;
}



.incsription {
    color: white;
    background-color: var(--violet);
    font-weight: bold;
    transition: transform 1s;
    font-size: 0.7rem;
}


.suivi {
    color: var(--violet);
    font-weight: bold;
    transition: transform 1.5s;
    background-color: transparent;
    border: 1px var(--violet)solid;
    font-size: 0.7rem;

}

/* a propos */

#propos {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.activiter {
    width: 30vw;

}

.activiter p {
    text-align: start;
    font-size: 1rem;
    text-align: justify;
}

.activiter ul {
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.activiter li {
    color: var(--jaune);
    font-weight: bold;
    font-size: 1.3rem;
}

.click {
    background-color: rgba(255, 255, 255, 0.701);
    color: black;
    font-weight: bold;
    width: 25vw;
    border: 1px var(--jaune)solid;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);

}

.click:hover {

    cursor: pointer;
    transform: scale(1.01);
    background-color: var(--violet);
    color: var(--jaune);
}

.nous {
    width: 30%;
}

/* cours */

#cours {
    height: 85vh;
    width: 100%;

}


.titre {
    color: var(--violet);
    margin: 10vh 0vh 15vh 14vh;
}

.cours1 img {
    border-radius: 100%;
    width: 10vw;
    height: 20vh;
    top: -8vh;
    left: 5vh;
    position: absolute;

}

.cours1 {
    width: 25vw;
    border: 2px var(--violet) solid;
    height: 48vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
        url(photo/love1.jpeg)fixed center/cover;

}

.list-cours {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10vh;
    gap: 10vh;


}


.apprentisage {
    margin-top: 12vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.apprentisage h2 {
    color: var(--jaune);
    margin-bottom: 2vh;
}

.apprentisage p {
    text-align: start;
    font-size: 0.8rem;
    text-align: justify;
    color: white;
}

.membre {
    margin: 15px 0 0 0px;
    color: white;
    border: white 1px solid;
    font-size: 0.7rem;
    background-color: transparent;

}

.membre:hover {
    cursor: pointer;
    transform: scale(1.01);
    background-color: var(--jaune);
    color: black;


}

/* vente */
#vente {
    height: 150vh;
    margin-left: 2vw;
}

.titre2 {
    color: var(--violet);
    margin: 0 0 5vh 10vh;
}


#vente img {
    width: 21vw;
    height: 40vh;
    border-radius: 10px 10px 0 0;
}

.presentation {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.venteArt {

    border-radius: 10px;
    border: 2px black solid;
    height: 57vh;

}

.venteArt h2 {
    text-align: center;
}

.venteArt span {
    font-size: 1rem;
}

.presentation :hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.521);

}

.venteArt :hover {
    transform: none;
    box-shadow: none;

}

.commander {
    width: 21vw;
    margin: 2.8vh 0 0 0;
    border-radius: 0px 0px 8px 8px;
    background-color: black;
    color: white;
    font-weight: bold;


}

.commander:hover {
    font-weight: bold;
    color: black;
    background-color: rgba(255, 255, 255, 0.701);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);

}


/* contact */

#contact {
    width: 100%;


}

#titre {
    color: var(--violet);
    margin: 2vh 15vh;

}

.map {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.maps {
    width: 84%;
    height: 300px;
    border: none;
}

.input {
    width: 80%;
}




#identifiant {
    width: 42%;
    height: 6vh;
    border: 1px rgba(0, 0, 0, 0.521) solid;
    outline: none;

    padding: 1rem;


}

#sujet {
    width: 86%;
    height: 6vh;
    margin-bottom: 3vh;
    border: 1px rgba(0, 0, 0, 0.521) solid;
    outline: none;
    padding: 1rem;


}

#message {
    width: 86%;
    height: 20vh;
    margin-bottom: 2vh;
    outline: none;
    padding: 1rem;
}

.texte_moi {
    display: flex;
    flex-direction: row;
    gap: 8%;
    margin: 7vh 0 0 15vh;

}

.deuxInput {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
    gap: 27px;


}

#identifiant:focus {
    border: 1.5px var(--jaune) solid;
    padding: 2vh;
    border-radius: 5px;
}

#message:focus {
    border: 1.5px var(--jaune) solid;
    padding: 2vh;
    border-radius: 5px;
}

#sujet:focus {
    border: 1.5px var(--jaune) solid;
    padding: 2vh;
    border-radius: 5px;


}

.info {
    display: flex;
    flex-direction: column;
    gap: 20%;
}

.info h2 {
    font-size: 1.3rem;
    color: var(--jaune);
}

.info p {
    color: rgba(0, 0, 0, 0.781);
    font-size: 1rem;
    text-align: start;

}


.envoyer {
    background-color: var(--jaune);
    margin-left: 40%;
    color: black;
    border: 1px var(--jaune) solid;
    margin-bottom: 2vh;


}

.envoyer:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: white;
    background-color: var(--violet);
}

footer {

    width: 100%;
    background-color: var(--violet);
    text-align: center;
    font-size: 14px;
    padding: 30px 0;
    color: white;
}

footer p {
    padding-top: 6px;
}

footer span {
    color: var(--jaune);
}

:placeholder-shown {
    padding: 2vh;
    border-radius: 5px;

}


/* responsive */

@media screen and (min-width:1920px),
(min-height:1080px) {


    nav {
        height: 15vh;
        position: fixed;
    }

    .navigation a {
        font-size: 2rem;
    }

    #nomlogo {
        font-size: 3rem;
    }

    .recherche {
        font-size: 1.6rem;
        width: 11vw;
        height: 8vh;

    }

    .imageFond img {
        width: 100%;
    }



    .bienvenue {
        font-size: 3rem;
    }

    .incsription {
        width: 10vw;
        height: 8vh;
        font-size: 1.5rem;

    }

    .incsription:hover {
        font-weight: bold;
        border: 2px solid var(--violet);
    }


    .suivi {
        width: 10vw;
        height: 8vh;
        font-size: 1.5rem;
    }


    .activiter li {
        font-size: 2.2rem;

    }

    .activiter ul {
        gap: 10vh;
    }

    .nous {
        width: 50%;

    }

    .activiter p {
        font-size: 1.9rem;

    }

    .click {
        font-size: 1.5rem;
        width: 30vw;
        height: 8vh;
    }

    .introduction p {
        font-size: 2rem;
    }

    .membre {
        font-size: 1.3rem;
    }

    .animation1 p {
        font-size: 1.5rem;
    }

    .apprentisage p {
        font-size: 1.7rem;
    }

    .cours1 {
        width: 28vw;
        height: 50vh;
    }

    .venteArt span {
        font-size: 1.5rem;
    }


    .titre,
    .titre2,
    #contactMe {
        font-size: 3rem;
    }


    .commander {
        font-size: 1.5rem;
        margin: 3.6vh 0 0 0;
    }

    .venteArt h2 {
        font-size: 2rem;
    }

    .info h2 {
        font-size: 2.3rem;
        color: var(--jaune);
    }

    .info p {
        color: rgba(0, 0, 0, 0.781);
        font-size: 1.5rem;
        text-align: start;

    }

    .info {
        gap: 10vh;
    }

    ::placeholder {
        font-size: 1.2rem;
    }

    .envoyer {
        font-size: 1.3rem;
        margin-left: 50vh;
    }

    .maps {
        width: 83%;
    }



    strong {
        font-size: 2rem;
    }

    .footer p {
        font-size: 1.5rem;
    }

    #vente {
        height: 140vh;
        margin-left: 2vw;
    }

    .fond {
        width: 120%;
        margin-bottom: 8vh;
    }

    .nom {
        font-size: 3rem;
    }
    
}

/* resposive pixel 7 */

@media screen and (max-width:412px) {


    .imageFond {
        display: none;
    }

    .animation1 {
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url(photo/pink.jpg) center/cover;
        background-position: 10% 50%;
        height: 100%;
        justify-content: flex-end;
        margin-top: 1vh;

    }

    #accueil {

        flex-direction: column-reverse;
        height: 80vh;

    }


    a {
        font-size: 1.3rem;
    }

    .navigation .menu-nav {
        height: fit-content;
        display: flex;
        position: absolute;
        display: none;
        background-color: var(--violet);
        animation: letGo 1s ease-in;

    }

    @keyframes letGo {
        0% {
            transform: translateY(-200%);
        }

    }


    .navigation .menu {
        display: block;
        width: 30px;
        height: 20px;


    }

    .navigation:hover .menu-nav {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 50vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .bienvenue {
        font-size: 1.5rem;
    }

    .nom {
        font-size: 2.3rem;
        text-shadow: 0 0px 5px rgb(227, 187, 225);
    }

    .team {
        width: 100%;

    }

    .recherche {
        width: 130px;
    }

    #nomlogo {
        padding: 0;
        text-align: center;
        margin-right: 40%;
        font-size: 1.8rem;

    }

    .bouton {
        margin: 3vh;
    }

    .suivi {
        color: white;
        border: 1px solid white;
        backdrop-filter: blur(50px);
        font-weight: initial;
        font-size: 1rem;
    }

    .incsription {
        font-weight: initial;
        font-size: 1rem;
    }

    .incsription:hover {
        color: white;
        border: 1px solid white;
        backdrop-filter: blur(50px);
        background-color: transparent;
    }

    .suivi:hover {
        background-color: var(--violet);
        border: none;

    }



    .activiter {
        flex-direction: column;
        width: 100%;
        padding: 4vh;
        margin-top: -5vh;
    }

    .activiter p {
        text-align: justify;
    }

    .click {
        margin-left: 20%;
        width: 60%;
        margin-bottom: 5vh;
    }

    .nous {
        display: none;
    }

    /* cours */


    .titre,
    .titre2 {
        margin: 0;
    }

    .introduction {
        display: none;
    }

    .cours1 {
        width: 90%;
        height: 43vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
            url(photo/love1.jpeg)center/cover;

    }

    .cours1 img {

        width: 40vw;
        height: 20vh;
        top: -8vh;
        left: 3vh;


    }

    .list-cours {

        flex-direction: column;
        align-items: center;


    }

    #cours {
        height: 170vh;
    }

    .apprentisage p {
        font-size: 1rem;
    }

    .apprentisage h2 {
        font-size: 1.8rem;
    }

    .membre {
        font-size: 1rem;
    }


    /* vente */

    #vente {
        height: 485vh;
    }

    .venteArt {

        border-radius: 10px;
        width: 90%;
        height: 56vh;
    }

    #vente img {
        width: 100%;
        height: 40vh;
        border-radius: 10px 10px 0 0;
    }

    .commander {
        width: 87.5vw;
        margin: 4vh 0 0 0;
        border-radius: 0px 0px 10px 10px;
    }

    /* contact */

    #titre {
        margin: 0;

    }

    .texte_moi {

        flex-direction: column;
        margin: 2vh;

    }

    .deuxInput {
        flex-direction: column;
        gap: 2vh;
        margin: 0;
        height: 15vh;
    }

    .input {
        width: 80%;
        gap: 0;
        margin: 0;

    }

    #identifiant {
        width: 128%;
        height: 5vh;
        margin: 0vh;

    }

    #sujet {
        width: 128%;
        height: 5vh;
        margin: 0;

    }

    #message {
        width: 128%;
        height: 15vh;

    }

    .info {
        flex-direction: column;
        gap: 2vh;
        margin-bottom: 5vh;

    }

    .maps {
        width: 95%;

    }

    label {
        display: block;
        margin-top: 5vh;
        margin-left: 2vh;
        color: white;
        font-size: 7vw;
        margin-bottom: -2vh;

    }

    .memu-nav a {
        position: fixed;
    }


    #check:checked ~ .lien-check {
        left: 0;
        position: 0;
    }

    .lien-check {
        display: flex;
        flex-direction: column;
    }

}